<!DOCtype html>
<html>
    <head></head>
    <title>Aboutpage|aboutme </title>
    <link rel="stylesheet" href="../static/style.css">



<body id="me">

        <div class="enter1">
                <a href="./signin.html">
            <b>Sign Out</b> </a>
            </div>
            <div class="dear1">
                    <h1>MyDiary</h1>
                </div>
            <div class = "menu">
            <ul>
                <li> <a href="./entries.html">
                    Home</a>
                </li>
                <li><a href="./entries.html">
                    MyDiary Entries </a>
                </li>
                <li><a href="./view.html">
                    Entry List </a>
                </li>

            </ul>
            </div>

        <h3><a href="./entries.html">
              Back to content page </a>
        </h3>
                
                  
                        <div class="me1">
                                <p><b>Hi there, welcome to MyDiary.A bit about myself-well I am a fun loving,adventurous person.
                           I like to travel,shop,eat out,have fun with friends and try out fashion,beauty and makeup 
                           trends.</b></p>

                           <p><b>
                               This is myDiary.It's a platform where I get down to jot down all my ideas on adventure,
                               great restaurants to eat at,movies to watch,also where to shop,books to read, and also 
                               places to travel.
                           </b></p>
                           <p><b>There is a lot of fun stuff in here so go on and take a look.</b></p>
</div>    
                  
</body>
<style> </style>


<footer>
        <div class="paper">
                <p> MyDiary,Copyright@joan &copy;2018 </p> 
           </div>  
</footer>
    
</html>