<!DOCtype html>
<html>
    <head></head>
    <title> BookstorePage|books </title>
    <link rel="stylesheet" href="../static/style.css">



<body>

        <div class="enter3">
                <a href="./signin.html">
            <b>Sign Out</b> </a>
            </div>
            <div class="dear1">
                    <h1>MyDiary</h1>
                </div>
            <div class = "menu">
            <ul>
                <li> <a href="./entries.html">
                    Home</a>
                </li>
                <li> <a href="./lifestyle.html">
                    Lifestyle</a>
                </li>
                

                </ul>
            </div>

        <h3> <a href="./entries.html">
              <b>Back to content page</b> </a>
        </h3>


    </body>
    <style> </style>
    
    
    <footer>
    
        <br/>
            <div class="paper">
                    <p><b> MyDiary,Copyright@joan &copy;2018</b> </p>  
               </div>  
    </footer>
        
    </html>