<!DOCtype html>
<html>
    <head></head>
    <title>Bookpage|Books </title>
    <link rel="stylesheet" href="../static/style.css">



<body id= "flash">

        <div class="enter1">
                <a href="./signin.html">
            <b>Sign Out</b> </a>
            </div>
            <div class="dear1">
                    <h1>MyDiary</h1>
                </div>
            <div class = "menu">
            <ul>
                <li> <a href="./entries.html">
                    Home</a>
                </li>
                <li><a href="./entries.html">
                    MyDiary Entries </a>
                </li>
                <li><a href="./view.html">
                    Entry List </a>
                </li>

            </ul>
            </div>

        <h3><a href="./entries.html">
              Back to content page </a>
        </h3>
             <div class="menu2">

                <p><b>RECOMMENDED BOOKS</b></p>
        <img src="../static/images/animalbook.jpg" style="width: 200px;height:200px">
              
           <p>
                <div class="word1">
                <b> Animal Farm is an allegorical novella by George Orwell, first published in England on 17 August 1945.
                    The book reflects events leading up to the Russian Revolution of 1917 and
                     then on into the Stalinist era of the Soviet Union.</b> </div>
               </p> 
        <img src="../static/images/masterybook.jpg" style="width:200px;height:200px">
               <p>
                    <div class="word1">
                <b>Mastery is the fifth book by the American author Robert Greene. 
                    The book examines the lives of great historical figures—such as Charles Darwin, Mozart, and Henry Ford—
                    and contemporary leaders—such as Paul Graham and Freddie Roach. 
                    It distills the traits and universal ingredients that made them masters. 
                    Mastery explains how to become a leader in any given field by examining 
                    the lives and pathways to success of historical masters such as Mozart, Einstein and Darwin. </b> </div>
               </p> 
        <img src="../static/images/thinkbook.jpg" style="width:200px;height:200px"> 
                  <p>
                        <div class="word1">
                       <b> Think and Grow Rich was written in 1937 by Napoleon Hill.It is a personal development and self-improvement book. 
                        While the book's title and much of the text concerns increasing income, the author insists that his philosophy 
                        can help people succeed in any line of work, to do and be anything they can imagine.</b>
                    </div>
                  </p>
                </div>
</body>
<style> </style>


<footer>
        <div class="paper">
                <p> MyDiary,Copyright@joan &copy;2018 </p> 
           </div>  
</footer>
    
</html>