<!DOCtype html>
<html>

<head> </head>
<title>MyDiary Homepage </title>
<link rel="stylesheet" href="../static/style.css">

<body id="cup">
 
    <div class="dear">
        <h1>MyDiary</h1>
    </div>

    <div class="enter1"> <b>Sign Out</b>
                         
    </div>
    <br/>

    <div class="apples">
        <ul>
            <li>
                <a href="home.html">Home</a>
            </li>
            <li>
                <a href="aboutmydiary.html">About Me</a>
            </li>
            <li>
                <a href="lifestyle.html">Lifestyle</a>
            </li>
            <li>
                <a href="books.html">Books</a>
            </li>

        </ul>

    </div> <br/>
    <img src="../static/images/photo2.jpg" style="width:200px;height:200px">
        Profile Photo
    
   
        <div class="done">
         
              Where to Eat
              

              Shopping
              

              Travel
              

              Books I am currently reading
              

              Inspirational Quotes

              </div>
              
        






     


<style>
</style>

</body>
<footer>
        <div class="paper"
        <br>
        <p>MyDiary,Copyright@joan &copy;2018 </p> </div>
</footer>

</html>