<!DOCtype html>
<html>

<head> </head>
<title>MyDiary Homepage </title>
<link rel="stylesheet" href="../static/style.css">

<body>
 
    <div class="dear">
        <h1>MyDiary</h1>
    </div>

    <div class="apples">
        <ul>
            <li>
                <a href="lifestyle.html">Lifestyle</a>
            </li>
            <li>
                <a href="books.html">Books</a>
            </li>
            <li>
                <a href="travel.html">Travel</a>
            </li>
            <li>
                <a href="inspire.html">Inspiration</a>
            </li>

        </ul>
    </div> 
    <div class="flex-container" id ="mainflex">
    <br/>
            <div class="notes">
                <p>
                        <ul>
                                <li>
                                    <a href="about.html">About Me</a>
                                </li>
                                <li>
                                    <a href="info.html">What I do</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact Me</a>
                                </li>
                            </ul>
                </p>
            <p> Welcome to MyDiary. This is a lifestyle platform you can use 
                to share your dreams,aspirations and any advice
                to your followers.
            </p>
        </div> 
        <center>
        <div class="picsk">
            <div class="flex-container"id="picsflex">
                <div class="flex-container">
                    <div class="pics1">
                    <img src="../static/images/shop.jpg" alt="shopping image" style="width:300px;height:200px">
                    <img src="../static/images/books.jpg" alt="book image" style="width:300px;height:200px"> </div> </div>
              <div class="flex-container">
                    <div class="pics2">
                    <img src="../static/images/vac.jpg" alt="poolside image" style="width:300px;height:200px">
                    <img src="../static/images/inspire.jpg" alt="inspiration image" style="width:300px;height:200px">
                </div>
                </div> </div>
    </div> </center> </div>


<style>
</style>

</body>
<footer>
        

        <p>MyDiary,Copyright@joan &copy;2018 </p>
</footer>

</html>