<!DOCtype html>
<html>

<head> </head>
<title>MyDiary Homepage </title>
<link rel="stylesheet" href="../static/style.css">

<body id="cup">
        <div class="enter2">
            <a href="./signin.html">
             <b>Sign Out</b></a>
                         
        </div>
 
    <div class="dear">
        <h1>MyDiary</h1>
    </div>
    
    
    <br/>

    <div class="apples">
        <ul>
            <li>
                <a href="./entries.html">Home</a>
            </li>
            <li>
                <a href="about.html">About Me</a>
            </li>
            <li>
                <a href="lifestyle.html">Lifestyle</a>
            </li>
            <li>
                <a href="books.html">Books</a>
            </li>
            

        </ul>

    </div> <br/>

    <div class ="userpic">
    <img src="../static/images/photo2.jpg" style="width:200px;height:200px"> 
    </div>

    <h3>User Photo</h3>
    <h4><a href= "./profile.html">
        View Your Profile</a></h4>
    
         <div class="formwrapper1">
        <div class="done">
                <form>
             <label> Where to Eat</label>
             <textarea rows="8" cols="60"></textarea>  

             <label>Shopping</label>
             <textarea rows="8" cols="60"></textarea>  

             <label>Travel</label>
             <textarea rows="8" cols="60"></textarea> 
            </form> 
            
        </div> 
        
        <div class="adventure">
            
<form>
        <label> Currently reading</label>
        <textarea rows="8" cols="60"></textarea> 

        <label> Must Watch Movies</label>
        <textarea rows="8" cols="60"></textarea>    

        <label>Inspirational Quotes </label>  
        <textarea rows="8" cols="60"></textarea> 
            </form>
        
       </div>
       <div class="press">
       <div class="press1">
           <button><b> Update Entries</b></button>
       </div>

       <div class="press2">
             <button><b> Save Entries</b></button>
       </div>
    </div>     
        
<style>
</style>

</body>

      <br/>
<footer>
     
        <div class="paper">
         <p> MyDiary,Copyright@joan &copy;2018 </p> 
    </div>  
</footer>

</html>