<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Trial Site</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1>Trial Here</h1>
            <form>
                <legend>Our Form</legend>
                <div>
                    <p>Name</p>
                    <input type="text" name="name">
                </div>
                
                <div>
                    <p>Email</p>
                    <input type="email" name="name" required>
                </div>
                <input type="submit" value="Sign up">
            </form>
    </body>
</html>