<!DOCtype html>
<html>
    <head></head>
    <title>Lifestylepage|lifestyle </title>
    <link rel="stylesheet" href="../static/style.css">



<body id="life">

        <div class="enter3">
                <a href="file:///C:/Users/joan/Desktop/ANDELA/projects/MyDiary/UI/templates/signin.html?Username=&Password=">
            <b>Sign Out</b> </a>
            </div>
            <div class="dear1">
                    <h1>MyDiary</h1>
                </div>
            <div class = "menu">
            <ul>
                <li> <a href="file:///C:/Users/joan/Desktop/ANDELA/projects/MyDiary/UI/templates/entries.html">
                    Home</a>
                </li>
                </ul>
            </div>

        <h3> <a href="file:///C:/Users/joan/Desktop/ANDELA/projects/MyDiary/UI/templates/entries.html">
              <b>Back to content page</b> </a>
        </h3>
        <div class="clothes">
                <div class="clothes1">
                        <form>
                             <label><b>Shopping</b></label>
                     <img src="../static/images/shop1.jpg" style="width: 300px;height:300px">  
        
                     <label><b>Restaurants</b></label>
                     <img src="../static/images/rest1.jpg" style="width: 300px;height:300px">  
        
                     </form>
                     
                    
                </div> 
                
                <div class="clothes2">
                 <form>                         
                      <label><b>Cinema</b></label>
                <img src="../static/images/cinema.jpg" style="width:300px;height:300px">
        
                <label><b> Bookstore</b></label>
                <img src="../static/images/bookstore.jpg" style="width: 300px;height:300px">   
                </form>
                       
               </div>
                  
                        
                  
</body>
<style> </style>


<footer>

    
        <div class="paper">
                <p> MyDiary,Copyright@joan &copy;2018 </p>  
           </div>  
</footer>
    
</html>