<!DOCTYPE html>
<html>

<head> </head>
<title>Profile Webpage| profile</title>
<link rel="stylesheet" href="../static/style.css">

<body id="pint">
        <div class="enter1"> <b>Sign Out</b>
                         
        </div>

    <div class="dear">
        <h1>MyDiary</h1>
    </div> 
                   <div class="pool">
                      Welcome to MyDiary. Create your profile.
                    </div>
            
        <div class="wrapper">
                <div class="profilepic">
                        <img src="../static/images/photo2.jpg" style="width:200px;height:200px">
                        <br/>
                        <h3>Upload Profile Photo</h3>
                </div>
                 
                <div class="bag">
                        <div class="enter"> 
                                <b>Entries Counter</b>
                                <span class="counter"><b>2</b></span>             
                            </div>
                            <div class="pipe"><b>Update Settings</b></div>
                            <div class="plan"><b>Edit Profile</b></div> 
                                      
                </div>
        </div>
        
      
           
           <br/>
        <div class="formwrapper">
            
            <div class="peg"> 
                <form>   
                <label for="naming">Name</label>
                <textarea rows="2" cols="60" id="naming"></textarea>
               <label> Gender</label>
                <textarea rows="2" cols="30"></textarea>
                Age
                <textarea rows="2" cols="30"></textarea>
            <label>Birth Date</label>
                <textarea rows="2" cols="30"></textarea> </form>
            </div>
        

            <div class="peg1">
                <form>
                        <label>About Me</label>
                        <textarea rows="6" cols="60"></textarea> 
        
                        <label>What I do</label>
                        <textarea rows="6" cols="60"></textarea>
        
                        <label>Contact Me</label>
                        <textarea rows="6" cols="60"></textarea>
                </form>
                   
            </div>
        </div>
                        

            
                
            
             <button  id="save">
                <b>Save Profile and Proceed to MyDiary</b>
            </button>  
          
  
    

</body>

<footer>
    <div class="paper">
    <br>
        <p>MyDiary,Copyright@joan &copy;2018 </p> <br> </div>
    
</footer>

</html>