<!DOCTYPE html>
<html>

<head> </head>
<title>Profile Webpage| profile</title>
<link rel="stylesheet" href="../static/style.css">

<body id="pint">

    <div class="dear">
        <h1>MyDiary</h1>
    </div>
        <img src="../static/images/photo2.jpg" style="width:200px;height:200px">
        <br/>
        Profile Photo
         
        <div class="enter"> <b>Entries Counter</b>
                <span class="counter">2</span>             
            </div>
        <div class="pipe"><b>Update Settings</b></div>

           <div class="plan"><b>Edit Profile</b>
            </div> 
                  
        
       <form>
           
           
       </br>
               
                About Me
            <textarea rows="6" cols="60"></textarea>

            What I do
            <textarea rows="6" cols="60"></textarea>

            Contact Me
            <textarea rows="6" cols="60"></textarea> 
                        

            <center>
            </br>
            <button type="SAVE PROFILE">
                <b>SAVE PROFILE</b>
            </button>
        </center>
    </form>

    

</body>

<footer>
    <div class="paper">
    <br>
        <p>MyDiary,Copyright@joan &copy;2018 </p> <br> </div>
    
</footer>

</html>