<!DOCTYPE html>
<html>

<head> </head>
<title>Profile Webpage| profile</title>
<link rel="stylesheet" href="../static/style.css">

<body id="pint">

    <div class="dear">
        <h1>MyDiary</h1>
    </div>

    <form>

        <img src="../static/images/photo2.jpg" style="width:100px;height:100px">
        <br/>
        Profile Photo

        <center>
            
            <button type="EDIT PROFILE">
                <b>EDIT PROFILE</b>
            </button>
            
        </center>

        <div class="enter"> Entries Counter</div>

        <div class="what">
            About Me
            <textarea rows="6" cols="60"></textarea>

            What I do
            <textarea rows="6" cols="60"></textarea>

            Contact Me
            <textarea rows="6" cols="60"></textarea>
        </div>
        <center>
            </br>
            <button type="SAVE PROFILE">
                <b>SAVE PROFILE</b>
            </button>
        </center>


    </form>

</body>

<footer>
    <div class="copy">
        <p>MyDiary,Copyright@joan &copy;2018 </p>
    </div>
</footer>

</html>