<!DOCtype html>
<html> 
<head>  </head>
<title>MyDiary Webpage|signin </title>
<link rel ="stylesheet" href="../static/style.css">
<body id="flask2">
<div class="dear">        
<h1>MyDiary</h1> </div>

<form>
        <div class="pen">
     <div class="find">   <center>SIGN IN HERE</center></div>
     
Username </br>
 <input type="text" name="Username"> </br>

Password </br>
<input type="text" name="Password"> </br> 
        </br>
<button type="SIGN IN" class="pin1"><b>SIGN IN</b></button> </div> 
</form>

<style>

</style>

</body>
<footer>
        
        <p>MyDiary,Copyright@joan &copy;2018 </p>
</footer>

</html>