<!DOCtype html>
<html>
    <head>
    <title>MyDiary WebPage|Welcome</title>
    <link rel ="stylesheet" href="../static/style.css">
    </head>
<body id="flask">
    <div class="dear">
    <h1>MyDiary</h1> </div>
   
   <div class="find">
    <center> SIGNUP </center></div>

<form>
        
    Username </br> 
    <input type ="text" name="Username"></br>
    Email </br> 
    <input type ="text" name="Email"></br>
    Password </br> 
    <input type ="text" name="Password"></br>
</br>
    <button type="SUBMIT" class="pin1">
      <a href= "file:///C:/Users/joan/Desktop/ANDELA/projects/MyDiary/UI/templates/signin.html">
     <b>SUBMIT</b></a></button>
     
</form>

    <style>
    

    
     </style>
</body>
<footer> 
    
        <p>MyDiary,Copyright@joan &copy;2018 </p>
</footer>

</html>