<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            body{
                width: 100%;
            }
            .container{
                display: inline;
                width: 1366px;
                height:500px;
            }
        .child-one{
            width: 30%;
            height:500px;
            background-color: burlywood;
        }
        .child-two{
            width: 60%;
            height:500px;
            background-color:brown;
        }

        </style>
    </head>
    <body>
        <div class="container">
            <p>
            <div class="child-one">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas autem saepe, nulla fugit harum odit? Blanditiis soluta sed libero laboriosam minus, consectetur nisi perferendis tempore at possimus aperiam quidem labore!
            </div>
            <div class="child-two">

            </div>
            </p>
        </div>
    </body>
</html>