body {
    width: 100%;
    height: 100%;
}

#flask {
    background-image: url(images/diary.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#flask2 {
    background-image: url(images/diary2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    color:darkblue;
    width: 200px;
    height: 300px;
    margin: auto;
    font-family: cambria;
    font-weight: bold;
}

.find {
    color: rgb(10, 10, 10);
    font-family: cambria;
    font-weight: bold;
}

.dear {
    text-align: center;
    font-size: 40px;
    font-family: georgia;
    color: #f39c12
}

.apples {
    width: 80%;
    background-color:chocolate;
    height: 60px;
    margin-left:60px;
    
}

.apples ul li {
    float: left;
    list-style-type: none;
    padding: 20px;
    font-size: 30px;
    font-family: Lucida Sans;
    color:#f39c12;
    text-align:center;
    width:20%;
}

.apples a{
    color:darkblue;
}
a:link {
    text-decoration: none;
}

.li {
    display: inline;
}
h4 a{
    color:maroon;
}

.notes {
    width: 30%;
    text-align: left;
    margin-top: 60PX;
    font-size: 20px;
    font-family: arial;
}

.notes ul li {
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: cornflowerblue;
}

.pics {
    width: 60%;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-left: 80px;
}

.pics1 {
    margin: auto
}

.pics2 {
    margin: auto
}

.pin {
    padding: 0px;
    margin: 20px;
}

.foot {
    align-items: left;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
    list-style: none;
    margin: 20px;
}
 #pint {background-image: url(images/write.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}

.copy{
    margin-bottom:0;

}

.enter{
    float: right;
    margin-right: 100px;
    color: darkblue;
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px;
}

.counter{
    color:black;
}

textarea{
    border:1px solid silver;
    border-radius:10px;

}
.wrapper{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}

.profilepic{
    width:20%;
}
.bag{
    width:60%;
}
.pipe{
    float: right;
    margin-right: 100px;
    color: darkblue;
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px;

}
.plan{
    float: right;
    margin-right: 100px;
    color: darkblue;
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px;

}

.paper{
    padding-top: 60px;
    padding-right: 40px;
    padding-bottom: 60px;
    padding-left: 40px;
    margin:90px;
    float:left;
    
}
#cup{
    background-image: url(images/entry.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.enter1 {
    float: right;
    margin-right: 100px;
    color: darkblue;
    border: 2px solid red;
    border-radius: 4px;
    padding: 5px;
}

.pool{
     font-family: Arial;
     font-size: 40px;
     color:darkred;
     padding-left:10px;
     padding-right:10px;
     padding-bottom:20px;
     padding-top:20px;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:10px;
     margin-right:10px;
     text-align:center;


}
.formwrapper{
    display: flex;
    /* justify-content:space-between; */
    
}
.peg{
     width: 40%;
     
    
}

.peg1{
    width: 40%;
}

#save{
    margin-left:50%;
    margin-top:8%;
    padding-left: 30px;
    padding-right:30px;
}

#save a{
    color:black;}


.userpic{
width:40%;
 }

h3 a{
color:maroon;
}

h4{
    color:maroon
}


.done{
    width:40%;
    float:right;
}
.adventure{
    width:40%;
    float:left;
}

.formwrapper1{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    
}
.press{
    width:80%;
    margin-top:15%;
    
}

.press1{
    float: right;
    margin-right: 80px;
    border-radius: 4px;
    padding: 5px;
    margin-left: 60px;
}

.press2{
    float: right;
    margin-right: 80px;
    border-radius: 4px;
    padding: 5px;
    margin-left:60px;
    
}

#frame{
    background-image: url(images/books2.jpg);
    background-size: cover;
    background-repeat:no repeat;

}

.dear1{
    color:black;
    text-align: center;
    font-size: 40px;
    font-family: georgia;

}

.apples2 ul li{
    float: left;
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
    font-family: Lucida Sans;
    color:#f39c12;
    text-align:center;
    width:20%;

}
.apples2{width: 80%;
    background-color:chocolate;
    height: 60px;
    margin-left:70px;

}

.apples2 a{
    color:darkblue;
}

table{
    margin-right: 20px;
    color: black;
    border: 3px solid maroon;
    border-radius: 4px;
    padding: 20px;
    width:80%;
    font-family: Geneva;
    font-size:15px;
    background-color: blueviolet; 
    margin-left:80px;  
}

td,th{
    padding: 20px;
    font-family: Geneva;
    font-size:20px;
    border-bottom:3px solid maroon; 
    border-right:3px solid maroon;

}

.menu ul li{
    float: left;
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
    font-family: Lucida Sans;
    color:maroon;
    width:20%;

}
.menu{width: 80%;
    background-color:turquoise;
    height: 60px;
    margin-left:80px;

}
#flash{
    background-image: url(images/bookshelf2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.menu2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Arial;
  padding:20px;
  width:50%;
  background-color:lightseagreen;
  margin-right:30px;
  margin-left:70px;
  
}

.menu a li{color:darkblue}
.word1{
    margin-left:20px;
    margin-right:20px;
    padding-left:30px;
    padding-right:30px;
}

#me{
    background-image: url(images/vac.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.me1{
    background-color:lavenderblush;
    font-family: Goergia;
    width:80%;
    margin-right:40px;
    margin-left:60px;
    padding-right:30px;
    padding-left: 30px;
    font-size:30px;
}
#life{
    background-image: url(images/shop.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.enter2{
    float: right;
    margin-right: 100px;
    border: 2px solid red;
    border-radius: 4px;
    padding: 5px;
}
.enter2 a{
    color:white;
}
.clothes{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    flex-direction: flex-start; 
        
}
 
.clothes1{
    width:40%;
    float:right;
  
}
.clothes2{
    width:40%;
    float:left;
}
 .enter3{
    float: right;
    margin-right: 100px;
    border: 2px solid red;
    border-radius: 4px;
    padding: 5px;
}

.enter3 a{
    color:black;
}
.paper3{
    float:right;
    margin-top:60%;
    width:100%;
    margin-left:0%;
    margin-right:100%;
    color: black;
}
.button{
    text-decoration:  none;
    background-color: #EEEEEE;
    padding: 2px 6px 2px 6px;
    border-top:1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    color:black;
}
